In [2]:
# Question 1: Create a dictionary of student names and their ages
d={"rizwana": 23, "asif":24}
d

{'rizwana': 23, 'asif': 24}

In [5]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
s={'a': 1, 'b': 2, 'c': 3}
s['d']=4
s

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
d={'name': 'John', 'age': 25, 'city': 'New York'}
d.keys()

dict_keys(['name', 'age', 'city'])

In [7]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
d= {'python': 3, 'java': 2, 'c++': 1}
d.values()

dict_values([3, 2, 1])

In [9]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
d={'name': 'Alice', 'age': 30, 'city': 'London'}
if 'age' in d:
    print("exists")

exists

In [12]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
s={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
del s['temp']
s

{'a': 1, 'b': 2, 'c': 4}

In [13]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
s={'math': 85, 'science': 92, 'english': 78}
total=sum(s.values())
total

255

In [14]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
d={x**2 for x in range(1,6)}
d

{1, 4, 9, 16, 25}

In [17]:
# Question 9: Count frequency of each character in string "hello"
s="hello"
fre={}
for char in s :
    if char in fre:
        fre[char]+=1
    else:
        fre[char]=1
print(fre)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [19]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
d1={'a': 1, 'b': 2}
d2= {'c': 3, 'd': 4}
d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}