In [2]:
# Question 1: Create a list of first 10 square numbers
square= [i**2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list=[1,2,3,4,5,6,7,8,9,10]
l2=[]
for i in list:
    if i%2==0: 
        l2.append(i)
print(sum(l2))

30

In [13]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
l1=[1,2,2,3,4,4,5,6,6,7]
l2=[]
for i in l1 :
    if i not in l2:
      l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [17]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
l1=[64,34,25,12,22,11,90]
l2=sorted(l1 , reverse=True)
print(l2)

[90, 64, 34, 25, 22, 12, 11]

In [20]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
l1=[15,23,31,42,56,78,91]
l2=sum(l1)/len(l1)
print(l2)

48.0

In [24]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibonacci=[0,1]
while len(fibonacci)<15:
    new_num=fibonacci[-1]+fibonacci[-2]
    fibonacci.append(new_num)
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

In [25]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1=[1,2,3,4,5,6,7,8,9,10]
l2=l1[::-1]
print(l2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
l1=[1,5,2,5,3,5,4,5,6]
count=0
for i in l1:
    if i==5:
        count+=1
print(count)

4

In [47]:
# Question 10: Create a list of prime numbers between 1 and 50
def is_prime(n):
    if n<2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n%i==0:
            return False
    return True
prime_num=[num for num in range(1,51) if is_prime(num)]
print(prime_num)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [53]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
sum(nested_list,[])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
x=[1,2,3,4,5]
y=[4,5,6,7,8]
z=[]
for i in x:
    if i in y:
        z.append(i)
print(z)

[4, 5]

In [58]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
l1=[[1,2],[3,4],[5,6]]
sum(l1,[])

[1, 2, 3, 4, 5, 6]

In [63]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l1=[[1,2,3],[4,5,6],[7,8,9]]
l2=[sum(sublist) for sublist in l1]
print(l2)

[6, 15, 24]

In [ ]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [64]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
l1=[[1,5,3],[9,2,7],[4,8,6]]
l2=[max(sublist) for sublist in l1]
print(l2)

[5, 9, 8]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [91]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l1=[[1,2,3],[4,5,6],[7,8,9]]
l2 =[num for sublist in l1 for num in sublist if num % 2 ==0]
print(l2)

[2, 4, 6, 8]

In [93]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
x=[1,"hello",3.14,True,[1,2,3]]
y=[type(x[0]),type(x[1]),type(x[2]),type(x[3]),type(x[4])]
print(y)

[<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'list'>]

In [96]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
str=["apple","banana","cherry","date"]
x=[len(str[0]),len(str[1]),len(str[2]),len(str[3])]
print(x)

[5, 6, 6, 4]

In [97]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
s=[(1, 'a'),(2, 'b'),(3,'c')]
y=[type(s[0]),type(s[1]),type(s[2])]
print(y)

[<class 'tuple'>, <class 'tuple'>, <class 'tuple'>]

In [99]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
x=[(1,'a'),(2,"b"),(3,'c')]
y=[index[0] for index in x]
print(y)

[1, 2, 3]

In [101]:
# Question 30: Find the union of all sets in list of sets
x=[{1,2},{3,4}]
y=set().union(*x)
print(y)

{1, 2, 3, 4}