In [3]:
# Question 1: Create a set of first 10 natural numbers
s1=set(range(1,11))
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
s1={1,2,3,4,5}
s1.add(11)
s1

{1, 2, 3, 4, 5, 11}

In [5]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
s1={1,2,3,4,5,6}
s1.remove(6)
s1

{1, 2, 3, 4, 5}

In [6]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.intersection(b)
print(c)

{4, 5}

In [7]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.difference(b)
print(c)

{1, 2, 3}

In [8]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
a={1,2,3,4,6,7,8}
print(5 in a)

False

In [9]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
s={'a', 'b', 'c', 'd', 'e'}
len(s)

5

In [12]:
# Question 8: Create a set of vowels from string "hello world"
a="hello world"
b={'a','e','i','o','u'}
new={i for i in a if i in b}
print(new)

{'e', 'o'}

In [14]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
a=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s=list(set(a))
print(s)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
a={1,2,3}
b={1,2,3,4,5,6}
c=a.issubset(b)
print(c)

True